.page__comments
  /* HTML form */
  .page__comments-form
    margin-top: 1rem
    &.disabled
      input, button, textarea, label
        pointer-events: none
        cursor: not-allowed
        filter: alpha(opacity = 65)
        box-shadow: none
        opacity: 0.65

    .form-group
      margin: 0.6rem 0 0.6rem 0
      textarea
        width: 100%
      textarea, input
        padding: 0.5rem
        border: 1px solid $secondary
        background: $background
        color: $body-color
        border-radius: 4px

    .reply-notice
      .reply-arrow
        vertical-align: middle
      .comment__avatar
        display: inline-block
        float: none
        width: 2rem
        height: 2rem
        margin: 0 .6rem
        vertical-align: text-bottom
        border-radius: 50%
      .close-btn
        margin: 0 .6rem
        &:after
          content: '\2716'

    .required
      font-weight: bold

    button
      border-radius: 4px
      background: $secondary
      border: 1px solid $secondary
      padding: 0.5rem
      margin-right: 0.6rem

  /* Static comments */
  $avatar__size: 5rem
  $avatar__sep: 3rem
  $reply__indent: 2rem

  .comment
    margin: 1rem 0 1rem 0
    float: left
    width: 100%
    clear: both

    .comment__avatar-wrapper
      float: left
      width: $avatar__size
      height: $avatar__size
      margin-right: $avatar__sep
      .comment__avatar
        width: 100%
        height: 100%
        border-radius: 50%

    .comment__content-wrapper
      float: right
      width: calc(100% - #{$avatar__size} - #{$avatar__sep} - 1px)
      border-bottom: 1px solid $secondary
      .comment__author
        margin-bottom: 0.3rem
      .comment__content
        margin: 0.5rem 0 0.5rem 0
      .comment__reply-button
        margin-top: 0.6rem
        margin-bottom: 0.6rem

    &.reply
      margin-left: 2rem
      width: calc(100% - #{$reply__indent} - 1px)

      span[itemprop="name"]
        &::after
          font-family: 'Font Awesome 5 Free'
          content: "\f064"
          display: inline-block
          padding-left: .5rem
          padding-right: .5rem
          vertical-align: middle
          font-weight: 900
