{{ $smjs := resources.Get "js/staticman.js" | resources.ExecuteAsTemplate "js/staticman.js" .Site.Params.staticman }}
<script src='{{ $smjs.RelPermalink }}'></script>
{{ if .Site.Params.staticman.recaptcha }}
<script src="https://www.google.com/recaptcha/api.js?hl={{ .Site.Language }}"></script>
{{ end }}
