{{- if .Site.DisqusShortname }}
    <div class="disqus">
        {{ template "_internal/disqus.html" . }}
    </div>
{{- end }}
{{- if .Site.Params.staticman }}
    <div class="container has-content-centered">
        {{ partial "staticman.html" . }}
    </div>
{{- end }}
