<div class='page__comments'>
  <hr>
  {{ $slug := replace .RelPermalink "/" "" }}

  {{ if .Site.Data.comments }}
    {{ $comments := index $.Site.Data.comments $slug }}
    {{ if $comments }}
      {{ if gt (len $comments) 1 }}
        <h3 class="title is-3">{{ len $comments }} {{ i18n "moreComment" }}</h3>
      {{ else }}
        <h3 class="title is-3">{{ len $comments }} {{ i18n "oneComment" }}</h3>
      {{ end }}
    {{ else }}
      <h3 class="title is-3">{{ i18n "noComment" }}</h3>
    {{ end }}

    {{ $.Scratch.Set "hasComments" 0 }}
    {{ range $comments }}
      {{ if not .replyThread }}
        {{ $.Scratch.Set "threadID" ._id }}
        <article id='{{ ._id }}' class='comment'>
          <div class='comment__avatar-wrapper'>
            <img class='comment__avatar' src='https://www.gravatar.com/avatar/{{ .email }}?d=mm&s=80' alt='{{ .name }}'>
          </div>
          <div class='comment__content-wrapper'>
            <h4 class='comment__author title is-5' itemprop='author' itemscope itemtype='https://schema.org/Person'>
              {{ if .website }}
                <span itemprop='name'><a rel='external nofollow' itemprop='url' href='{{ .url }}'>{{ .name }}</a></span>
              {{ else }}
                <span itemprop='name'>{{ .name }}</span>
              {{ end }}
            </h4>
            <a class='comment__date' href='#{{ ._id }}' title='Permalink to this comment'>
              <time datetime='{{ .date }}'>{{ dateFormat (default (i18n "shortdateFormat") .Site.Params.dateformat) .date }}</time>
            </a>
            <div class='comment__content'><p>{{ .comment | markdownify }}</p></div>
            <div class='comment__reply-button'>
              <a class='reply-btn' href='#comment-form' title='{{ ._id }}'>{{ i18n "replyToMsg" }}</a>
            </div>
          </div>
        </article>

        {{ range $comments }}
          {{ if eq .replyThread ($.Scratch.Get "threadID") }}
            <article id='{{ ._id }}' class='comment reply'>
              <div class='comment__avatar-wrapper'>
                <img class='comment__avatar' src='https://www.gravatar.com/avatar/{{ .email }}?d=mm&s=80' alt='{{ .name }}'>
              </div>
              <div class='comment__content-wrapper'>
                <h4 class='comment__author title is-5' itemprop='author' itemscope itemtype='https://schema.org/Person'>
                  {{ if .website }}
                    <span itemprop='name'><a rel='external nofollow' itemprop='url' href='{{ .url }}'>{{ .name }}</a></span>
                  {{ else }}
                    <span itemprop='name'>{{ .name }}</span>
                  {{ end }}
                  <a class='comment__reply-target' href='#{{ .replyID }}'>{{ .replyName }}</a>
                </h4>
                <a class='comment__date' href='#{{ ._id }}' title='Permalink to this comment'>
                  <time datetime='{{ .date }}'>{{ dateFormat (default (i18n "shortdateFormat") .Site.Params.dateformat) .date }}</time>
                </a>
                <div class='comment__content'><p>{{ .comment | markdownify }}</p></div>
                <div class='comment__reply-button'>
                  <a class='reply-btn' href='#comment-form' title='{{ .replyThread }}'>{{ i18n "replyToMsg" }}</a>
                </div>
              </div>
            </article>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

    <!-- Start comment form -->
    <div class='page__comments-form'>
      <h3 class='title is-4'>{{ i18n "comments_label" }}</h3>
      <p>{{ i18n "comment_form_info" }} <span class='required'>*</span></p>
      <form id='comment-form' class='page__comments-form form' method='POST'>
        <!-- Hidden fields -->
        <div class='form-group hidden'>
          <input type='hidden' name='options[slug]' value='{{ replace .RelPermalink "/" "" }}'>
          <input type='hidden' name='options[parent]' value=''>
          <input type='hidden' name='fields[replyThread]' value=''>
          <input type='hidden' name='fields[replyID]' value=''>
          <input type='hidden' name='fields[replyName]' value=''>

          {{- with .Site.Params.staticman.recaptcha }}
          <input type='hidden' name='options[reCaptcha][siteKey]' value='{{ .sitekey }}'>
          <input type='hidden' name='options[reCaptcha][secret]'  value='{{ .secret }}'>
          {{- end }}
        </div>

        <!-- Start comment form display reply target -->
        <div class='form-group reply-target-notice'>
          <h5 class='reply-notice hidden title is-5'>
            <span class='reply-arrow'><i class='fas fa-share'></i></span>
            <span class='reply-name'></span>
          </h5>
        </div>
        <!-- End comment form display reply target -->

        <!-- User input -->
        <div class='form-group'>
          <label for='comment-form-message'>{{ i18n "oneComment" | title }} <small class='required'>*</small></label><br>
          <textarea rows='6' cols='36' id='comment-form-message' name='fields[comment]' placeholder='{{ i18n "useMarkdown" }}' tabindex='1'></textarea>
        </div>
        <div class='form-group'>
          <label for='comment-form-name'>{{ i18n "yourName" }} <small class='required'>*</small></label>
          <input type='text' id='comment-form-name' name='fields[name]' tabindex='2' />
        </div>
        <div class='form-group'>
          <label for='comment-form-email'>{{ i18n "yourEmail" }} <small class='required'>*</small></label>
          <input type='email' id='comment-form-email' name='fields[email]' tabindex='3' />
        </div>
        <div class='form-group'>
          <label for='comment-form-url'>{{ i18n "yourWebsite" }}</label>
          <input type='url' id='comment-form-url' name='fields[url]' tabindex='4'/>
        </div>

        {{ if .Site.Params.staticman.recaptcha }}
          <div class='form-group'>
            <div class='g-recaptcha' data-sitekey='{{ .Site.Params.staticman.recaptcha.sitekey }}' tabindex='5'></div>
          </div>
        {{ end }}

        <!-- Start comment form alert messaging -->
        <div class='submit-status-notice'>
          <p class='js-notice'>
            <strong class='js-notice-text submit-success hidden'>{{ i18n "comment_success_msg" }}</strong>
            <strong class='js-notice-text submit-failed hidden'>{{ i18n "comment_error_msg" }}</strong>
          </p>
        </div>
        <!-- End comment form alert messaging -->

        <!-- Submit and reset buttons -->
        <div class='form-group'>
          <button type='submit' id='comment-form-submit' tabindex='6' class='btn btn--primary btn--large' value='Submit'>{{ i18n "comment_btn_submit" }}</button>
          <button type='submit' id='comment-form-submitted' class='btn btn--primary btn--large hidden' value='Submitted' disabled>{{ i18n "comment_btn_submitted" }}</button>
          <button type='reset' id='comment-form-submit' tabindex='7' class='btn btn--primary btn--large' value='Reset'>{{ i18n "comment_btn_reset" }}</button>
        </div>
      </form>
    </div>
</div>
